// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Panel {
  background: #00000000;
  border-radius: 20px;
  padding: 10px;

  .poweroff {
    background: #343434;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

    button {
      margin: 5px;
    }
  }

  .player {
    background: #343434;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
  }

  .parametrs {
    background: #343434;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;

    .precent {
      margin: 0 10px;
    }
    box {
      min-width: 150px;
    }

    button {
      padding: 0 5px;
      margin:  5px 6px;
    }


    .adv button {
      font-size: 12px;
    }

    .adv .mute button{
      background: #303030;
      font-size: 20px;
    }


    label {
      min-width: 50px;
    }
  }


  .title {
    margin: 10px;
    min-width: 150px;
  }

  .controllers button {
    margin: 5px;
    font-family: "Hasklug Nerd Font Mono";
    font-size: 20px;
  }

  .position button {
    margin: 5px;
  }

  .position label {
    margin: 0 12px;
  }

  .user {
    background: #343434;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .info label{
    margin: 10px 0;
    font-family: "Hasklug Nerd Font Mono";
  }
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-family: "Hasklug Nerd Font Mono";
  font-size: 16px;

  > centerbox {
    background: #343434;
    color: #FFF;
    padding: 4px 5px;
  }

  label {
    // border-radius: 4px;
    padding: 0 5px;
  }

  .kb {
    font-size: 18px;
  }

  // .workspaces {
  //   margin-left: 10px;
  // }

  .workspaces .separator {
    padding: 0;
    margin: 0;
  }

  .workspaces .tag {
    margin: 0 0;
    padding: 0 6px;
  }

  .workspaces .focused {
    background: #FFF;
    color: #000;
  }

  .workspaces .active {
    background: #898989;
    color: #FFF;
  }

  .workspaces .urgent {
    background: #F00;
    color: #FFF;
  }
}

window.WallClock {
  background: #000000bb;
  padding: 10px;
  border-radius: 20px;
  font-family: "Hasklug Nerd Font Mono";

  label {
    padding: 10px;
    font-size: 30px;
    min-width: 100px;
  }
}
