// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.ScreenShot {
  background: #000000AA;
  padding: 20px;
  border-radius: 20px;

  button {
    padding: 5px;
    min-width: 200px;
    background: #343434;
    margin: 10px;
  }

  .toggle_button {
    background: #ababab;
    color: #000000;
  }

  label {
    padding: 10px;
  }

  .title {
    font-size: 20px;

  }

  switch {
    padding: 0;
  }

}

window.Bar {
  background: transparent;
  color: #FFF;
  font-weight: bold;

  > centerbox {
    background: #343434;
    // border-radius: 10px;
  }

  button {
    border-radius: 8px;
    margin: 0 2px;
  }

  label {
    margin: 0 10px;
    font-size: 16px;
    font-family: "RobotoMono Nerd Font Mono";
    // font-style: ;
  }

  .workspaces {
    margin-left: 10px;
  }
  .workspaces label {
    margin: 0 3px;
    padding: 0 5px;
    border-radius: 5px;
  }
  .workspaces .active{
    background-color: #999999;
    color: #000000;
  }
  .workspaces .passive{
    background-color: #343434;
    color: #FFFFFF;
  }

  .workspaces .focused {
    background-color: #FFFFFF;
    color: #000000;
  }

}

window.MyBar {
  background: #00000088;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;

  .logout button {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  .section {
    margin: 10px;
    padding: 10px;
    background: #343434;
    border-radius: 10px;
    min-width: 120px;
  }

  .title {
    margin: 10px;
    font-size: 16px;
    min-width: 150px;
  }

  slider{
    background: #abcdef;
  }

  .user_icon {
    padding: 4px;
  }

  .info {
    padding-left: 0;
    font-style: normal;
    margin: 10px;
  }
  
  // .player {
  //   padding: 5px;
  //   min-width: 120px;
  // }
  .player .btns {
    padding: 20px;
  }

  .player button {
    padding: 5px 10px;
    min-width: 30px;
    margin: 0 1px;
  }
}

window.Wallpaper { 
  background: #000000AA;
  border-radius: 20px;
  padding: 10px;

  label {
    color: #FFF;
    margin: 10px;
    font-size: 32px;
  }
}
