configuration {
    modi: "drun,window,calc,system:~/config/rofi/system.sh,run";
    side-bar: true;
    lines: 0;
    dynamic: true;
}

//@theme "~/config/rofi/themes/gruvbox-dark-soft.rasi"

@theme "~/config/rofi/themes/arthur.rasi"

window {
    height: 60%;
    width: 40%;
}
