configuration {
    modi: "drun,window,calc,system:~/config/rofi/system.sh,run";
    side-bar: true;
    lines: 0;
    dynamic: true;
}

window {
    height: 60%;
    width: 40%;
}

@theme ".config/rofi/themes/material.rasi"
