:root {
    --main-bg: #343434;
    --alt-bg: #676767;
    --main-fg: #FFFFFF;
    --focused-bg: #ababab;
    --focused-fg: #000000;
}

window {
    border-radius: 0;
    background: var(--main-bg);
}

.launcher .item {
    border: none;
    border-radius: 0;
    margin: 0 1px;
}

.launcher .item.open {
    background: var(--alt-bg);
}

.launcher .item.focused {
    background: var(--focused-bg);
}

.workspaces {
    margin-left: 10px;
}

.workspaces .item{
    border: none;
    color: var(--main-fg);
    background: var(--alt-bg);
    margin: 0 1px;
    padding: 0 10px;
    border-radius: 0;
}

.workspaces .item.focused {
    color: var(--focused-fg);
    background: var(--focused-bg);
}

.keyboard .layout{
    background: var(--main-bg);
    border: none;
    margin-right: 10px;
}

.clock {
    border: none;
    margin-left: 10px;
    background: var(--main-bg);
    /* font-family: "RobotoMono Nerd Font Mono"; */
    font-style: Bold;
    font-size: 16px;
}

.popup-clock {
    background-color: #abcdef00;
    padding: 4px;
    font-size: 14px;
}
