* {
    fg: #FFFFFF;
    bg: #333333;
    sfg: #000000;
    sbg: #aaaaaa;
    ffg: #000000;
    fbg: #FFFFFF;

	spacing: 0;
	background-color: @bg;
    border: 1px;
}

window {
	transparency: "real";
}

mainbox {
	children: [inputbar, message, mode-switcher, listview];
	spacing: 10px;
	padding: 10px 0;
}

inputbar {
	padding: 0 30px;
	children: [prompt, textbox-prompt-colon, entry, case-indicator];
}

prompt {
	text-color: @fg;
}

textbox-prompt-colon {
	expand: false;
	str: ":";
	margin: 0 1ch 0 0;
	text-color: @fg;
}

entry {
	text-color: @fg;
}

case-indicator {
	text-color: @fg;
}

// mode-switcher, message {
// 	border: 1px 3px;
// }

button, textbox {
	background-color: @bg;
	text-color: @fg;
	padding: 5px;
}

button selected {
	background-color: @fbg;
    text-color: @ffg;
}

listview {
	scrollbar: true;
	margin: 0 10px 0 30px;
}

scrollbar {
	background-color: @bg;
	handle-color: @fg;
	handle-width: 10px;
	margin: 0 0 0 20px;
}

element {
    padding: 5px;
    spacing: 5px;
	highlight: bold underline;
    text-color: @sfg;
    background-color: @sbg;
	children: [element-icon, element-text];
}
element-text, element-icon {
	background-color : inherit;
	text-color	     : inherit;
	foreground-color : inherit;
}

element normal {
	background-color: transparent;
    text-color: @fg;
}

element selected {
    text-color: @ffg;
	background-color: @fbg;
}
